<div class="bg-light p-4">
  <p class="h2">FEA</p>

  <hr>

  <div class="container d-flex justify-content-around flex-column flex-md-row flex-wrap fs-5 mt-4">
    <ul class="list-unstyled">
      <li>Information about new students</li>
      <li>Contact with secretariat</li>
      <li>Life in dorms</li>
    </ul>

    <ul class="list-unstyled">
      <li>About us</li>
      <li>Contact us</li>
      <li>Administrative board</li>
    </ul>

    <ul class="list-unstyled">
      <li><i class="bi-telephone"></i></li>
      <li><i class="bi-instagram"></i></li>
      <li><i class="bi-facebook"></i></li>
    </ul>
  </div>
  <p class="text-center fs-6 mt-4">&copy; Copyrights are reserved 2022</p>
</div>


