
<div class="m-5">
  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table">
    <thead>
      <tr>
        <th class="col">Room</th>
        <th class="col">Last Name</th>
        <th class="col">First Name</th>
        <th class="col">AM</th>
        <th class="col">University</th>
        <th class="col">Email</th>
        <th class="col">Phone</th>
        <th class="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of students">
        <td scope="row">{{student.room}}</td>
        <td>{{student.lastname}}</td>
        <td>{{student.firstname}}</td>
        <td>{{student.am}}</td>
        <td>{{student.university}}</td>
        <td>{{student.email}}</td>
        <td>{{student.phone}}</td>
        <!-- <td><button type="button" class="btn btn-outline-secondary" (click)="studentProfile(student)"><i class="bi bi-three-dots-vertical"></i></button></td> -->
        <td>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#centreed-modal-student" (click)="setStudent(student)">
            <i class="bi bi-three-dots-vertical"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="modal-dialog modal-dialog-centered">
  <div class="modal fade" id="centreed-modal-student" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Studet information</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!-- first row -->
          <div class="row">
            <!-- last name -->
            <div class="mb-2 col">
              <label for="last-name" class="form-label">Last name</label>
              <input type="text" class="form-control" id="last-name" aria-label="Last name" aria-describedby="basic-addon1" [(ngModel)]="selectedStudent.lastname">
            </div>

            <!-- first name -->
            <div class="mb-2 col">
              <label for="first-name" class="form-label">First name</label>
              <input type="text" class="form-control" id="first-name"  aria-label="First name" aria-describedby="basic-addon1" [(ngModel)]="selectedStudent.firstname">
            </div>
          </div>
          <!-- second row -->
          <div class="row">
            <!-- room -->
            <div class="mb-2 col">
              <label for="room" class="form-label">Room</label>
              <input type="text" class="form-control" id="room" aria-label="Room" aria-describedby="basic-addon1" [(ngModel)]="selectedStudent.room">
            </div>
            <!-- AM -->
            <div class="mb-2 col">
              <label for="am" class="form-label">AM</label>
              <input type="text" class="form-control" id="am" aria-label="AM" aria-describedby="basic-addon1" [(ngModel)]="selectedStudent.am">
            </div>
          </div>
          <!-- third row -->
          <div class="row">
            <!-- dateentryuniversity -->
            <div class="mb-2 col">
              <label for="dateentryuniversity" class="form-label">Date University</label>
              <input type="date" class="form-control" id="dateentryuniversity" aria-label="Date registration University" aria-describedby="basic-addon1" [(ngModel)]="selectedStudent.dateuniversity">
            </div>
            <!-- dateentrydorm -->
            <div class="mb-2 col">
              <label for="dateentrydorm" class="form-label">Date Dorm</label>
              <input type="date" class="form-control" id="dateentrydorm" aria-label="Date enter in dorm" aria-describedby="basic-addon1" [(ngModel)]="selectedStudent.datedorm">
            </div>
          </div>
          <!-- university -->
          <div class="mb-2 col">
            <label for="university" class="form-label">University</label>
            <input type="text" class="form-control"  id="university" aria-label="University" aria-describedby="basic-addon1" [(ngModel)]="selectedStudent.university">
          </div>
          <!-- email -->
          <div class="mb-2 col">
            <label for="email" class="form-label">Email</label>
            <input type="text" class="form-control"  id="email" aria-label="Email" aria-describedby="basic-addon1" [(ngModel)]="selectedStudent.email">
          </div>
          <!-- phone -->
          <div class="mb-2 col">
            <label for="phone" class="form-label">Phone</label>
            <input type="text" class="form-control" id="phone" aria-label="Phone" aria-describedby="basic-addon1" [(ngModel)] = "selectedStudent.phone" >
          </div>
          <!-- comments -->
          <div class="mb-2 col">
            <label for="comments" class="form-label">Comments</label>
            <!-- <input type="text" class="form-control" id="comments" aria-label="Last name" aria-describedby="basic-addon1" value={{selectedStudent.comments}}> -->
            <textarea class="form-control" placeholder="Write comments for student here" id="comments" value={{selectedStudent.comments}}></textarea>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-success" data-bs-dismiss="modal" (click)="onSave()">Save</button>
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="onDelete()">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
