<!-- <div class="container d-flex justify-content-center pt-5">
  <div class="card">
    <div class="card-header">
      <h5 class="card-title">{{student.last_name}} {{student.first_name}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{student.room}}</h6>
    </div>
    <div class="card-body">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">University: {{student.university}}</li>
        <li class="list-group-item">AM: {{student.registernumber}}</li>
        <li class="list-group-item">Date registerd on university:{{student.dateentryuniversity}}</li>
        <li class="list-group-item">Date entered the dorm: {{student.dateentrydorm}}</li>
        <li class="list-group-item">Email: {{student.email}}</li>
        <li class="list-group-item">Phone: {{student.phone}}</li>
      </ul>
      <p class="card-text">Comments: {{student.comments}}</p> --> 
      <!-- <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a> -->
      <!-- <button type="button" class="btn btn-primary">Edit</button>
      <button type="button" class="btn btn-danger ms-2">Delete</button>
    </div>
  </div>
</div>












<p class="m-3">{{selectedStudent.email}}</p>
<p class="m-3" id="p"  (click)="changePtoInput()">george.karampelas.26@gmail.com</p>
<input type="text" value="george.karampelas.26@gmail.com" class="m-3 ">

<div class="container">
    <div class="d-flex justify-content-center align-items-center">
      <div class="input-group">
        <p id="p-name" class="fs-5 me-2 mb-0">{{george}}</p>
        <input type="email" name="input-name" id="input-name" value={{george}} class="form-control" [style.display]="'none'">
        <button id="btn-check" class="btn btn-success" [style.display]="'none'">

          <i class="bi bi-check-square me-2" ></i>
        </button>
        <button id="btn-cancel" class="btn btn-danger" [style.display]="'none'">

          <i class="bi bi-x-square"></i>
        </button>
        <button id="btn-edit" class="btn btn-primary" (click)="edit('btn-edit', 'btn-check', 'btn-cancel', 'input-name', 'p-name')">
          <i  class="bi bi-pencil-square"></i>
        </button>
      </div>


    </div>
</div> -->
